<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logPrefix" value="hyh"/>
        <!--延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置 fetchType 属性来覆盖该项的开关状态。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--开启时，任一方法的调用都会加载该对象的所有延迟加载属性。 否则，每个延迟加载属性会按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 全局性地开启或关闭所有映射器配置文件中已配置的任何缓存。 true开启	-->
        <setting name="cacheEnabled" value="true"/>
        <!--        <setting name="supportMethodsArguments" value="true"/>-->
    </settings>
    <typeAliases>
        <typeAlias type="com.hyh.ssm.model.OmOrder" alias="omOrder"/>
        <typeAlias type="com.hyh.ssm.model.User" alias="user"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--     /**
     * xml中不需要处理这两个参数pageNum、pageSize
     */
    List<OmOrder> getOrders2(@Param("pageNum") int pageNum, @Param("pageSize") int pageSize);           -->
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>


</configuration>

