<?xml version="1.0" encoding="UTF-8"?>
<!--名称空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置文件入口， 包含其他配置文件，一般不声明bean 可以使用通配符-->

    <import resource="service.xml"/>
    <import resource="student.xml"/>
    <import resource="computer.xml"/>
    <import resource="beanPostProcessor.xml"/>

    <!-- 可以使用通配符   -->
    <import resource="classpath:empty/*.xml"/>
    <import resource="classpath:aop/*.xml"/>
</beans>